/* Chrome */

@import '../../styles/css/custom-properties.css';

.chrome {
	padding: 2rem;
	text-align: center;
}

.banner {
	transform-origin: top center;
	transition: 195ms transform ease-out;
}

.isSmaller {
	transform: scale(0.75);
}

.inner {
	margin: 0 auto;
	max-width: 640px;
	text-align: left;
}
