/* Blog post */

@import '..//styles/css/custom-properties.css';

.title {
	font: 700 var(--type-3) 'Lora', sans-serif;
	margin: 3rem auto 0;
	max-width: 90%;
	text-align: center;
}

.content {
	margin: 1.25rem 0 0;
}

.content div > * {
	font: 400 var(--type-0) 'PT Serif', sans-serif;
	margin: 2rem 0 0;
}

.content div a {
	color: var(--black);
	text-decoration: underline;
}
