@import '../../styles/css/custom-properties.css';

.AnimatedNumber {
}

.AnimatedNumber-text {
	color: var(--black);
	display: inline-block;
	font: 700 var(--type-4) 'OpenSans', sans-serif;
	position: relative;
	will-change: transform;
}
