/* Index */

@import '../styles/css/custom-properties.css';

.posts {
	margin: 4rem 0 0;
	text-align: left;
}

.post:not(:first-child) {
	margin: 3rem 0 0;
}

.postTitle {
	color: var(--black);
	display: block;
	font: 700 var(--type-2) 'Lora', sans-serif;
	margin: 1rem 0 0;
	text-decoration: none;
}

.postDate {
	font: 700 var(--type--1) 'OpenSans', sans-serif;
}

.postBody {
	font: 400 var(--type-0) 'PT Serif', sans-serif;
	margin: 1rem 0 0;
}

.postLink {
	color: var(--black);
	display: block;
	font: 400 var(--type-0) 'PT Serif', sans-serif;
	margin: 1rem 0 0;
}

@media (--desktop) {
	.posts {
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
	}

	.post {
		flex: 0 0 33%;
		padding: 1rem 0 0 2rem;

		&:not(:first-child) {
			margin: 0 0 0;
		}
	}
}
