/**
 * Display font definitions
 */

@import url('https://fonts.googleapis.com/css?family=Lora:400,700|PT+Serif|Noto+Serif|Lobster|Sorts+Mill+Goudy|Carter+One');

/*
font-family: 'Lora', serif;
font-family: 'Noto Serif', serif;
font-family: 'Sorts Mill Goudy', serif;
font-family: 'Carter One', cursive;
font-family: 'Lobster', cursive;
font-family: 'PT Serif', serif;
*/
